@import "tailwindcss";
@import "@fontsource/roboto-slab";
@import "@fontsource/bowlby-one-sc";


@layer base {
  body {
    font-family: "Roboto Slab";
  }
  html{
     scroll-behavior: smooth;
  }
}
@theme {
  --color-primary: #090D18;
  --color-primaryHover: #1F2C52;
  --color-light: #717C9C;
  --color-secondary: #111F46;
  --color-highlight: #F3BA12;
  --font-bowlby: "Bowlby One SC";
  --color-button-light: rgb(17, 31, 70, 0.75)
}